<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.knows.portal.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.knows.portal.model.Question">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="user_nick_name" property="userNickName" />
        <result column="user_id" property="userId" />
        <result column="createtime" property="createtime" />
        <result column="status" property="status" />
        <result column="page_views" property="pageViews" />
        <result column="public_status" property="publicStatus" />
        <result column="modifytime" property="modifytime" />
        <result column="delete_status" property="deleteStatus" />
        <result column="tag_names" property="tagNames" />
    </resultMap>

</mapper>
